<div class="text-field">
<!--   <%= form.label :name %> -->
  <%= form.text_field :name, label: "What are you selling?", required: true %>
</div>


  <%= form.label :price %>
<div class="input-group">
  <span class="input-group-addon"><b>RM</b></span>
  <%= form.number_field_without_bootstrap :price, min: "0", type: 'number', class: "form-control", required: true %>
</div>
<br />
<!--<div class="text-field"> -->
<!--   <%= form.label :price %> -->
<!--   <%= form.number_field :price, min: "0" %>
</div> -->

<!--<%= form.form_group :condition, label: { text: "Condition" } do %><br />
  <%= form.radio_button :condition, 0, label: "Used", inline: true %>
  <%= form.radio_button :condition, 1, label: "New", inline: true %>
<% end %> -->

  <%= form.select :category, options_for_select(Listing.categories.keys), { class: "selectpicker" } %>
<br />
   <%= form.collection_radio_buttons :condition, Listing.conditions, :first, :first, required: true %>

<div class="text-field">
<!--   <%= form.label :description %> -->
  <%= form.text_area :description %>
</div>


<div class="file-field">
<!--   <%= form.label "Photos" %><br /> -->
  <%= form.file_field :photos, multiple: true %>
</div>


