<div class="row">
  <div class="col-md-8">

<h1><%= @listing.name %></h1>


<p>Price: RM<%= @listing.price %></p>

<p>Description: <%= @listing.description %></p>
<p>Condition: <%= @listing.condition %></p>

<!-- <% @listing.photos.each do |photo| %>
<%= image_tag photo.url %>
<% end %> -->


<% if @listing.photos.present? %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">

    <li data-target="#myCarousel" data-slide-to="0" class= "active" ></li>
<% (1..@listing.photos.count - 1).each do |i| %>
     <li data-target="#myCarousel" data-slide-to=<%=i.to_s%>></li>
     <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <%= image_tag @listing.photos.first, class: "img-responsive center-block", style: "width:100%" %>
    </div>
    <% @listing.photos.shift %>
    <% @listing.photos.each do |photo| %>
    <div class="item">
      <%= image_tag photo, class: "img-responsive center-block", style: "width:100%" %>
    </div>
    <% end %>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% end %>

 

<% if current_user && current_user.id == @listing.user.id %>
<%= link_to 'Edit your listing', edit_user_listing_path(current_user, @listing) %>
<% end %>

<p>Listed by: <%= link_to @listing.user.username, user_path(@listing.user) %></p>

 <h4 id="comments-count"><%= pluralize(@listing.comments.count, 'Comment') %></h4>

    <div id="comments-list">
        <%= render partial: @listing.comments %>
    </div>

    <div id="comment-form">
      <%= render 'comments/form' %>
    </div>


</div>
</div>