
<div class="form-group has-feedback" style="margin: 2em; width: 300px;">
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder: "Email address", class: "form-control" %>
  <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
</div>
<span id = "email-block" class="text-danger" ></span>
</div>

<div class="form-group has-feedback" style="margin: 2em; width: 300px;">
<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username, placeholder: "Username", class: "form-control" %>
  <i class="glyphicon glyphicon-user form-control-feedback"></i>
</div>
<span id = "first_name-block" class="text-danger" ></span>
</div>


</div>
<div class="form-group has-feedback" style="margin: 2em; width: 300px;">
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "Create a Password", class: "form-control" %>
  <i class=" glyphicon glyphicon-lock form-control-feedback"></i>
</div>

<span id = "password-block" class="text-danger" ></span>
</div>

 <div class="submit-field">
      <%= form.submit class: "btn btn-default btn-primary" %>
 </div>

