<div class="col-md-12">
<li class="list-group-item">

<h1>Edit your profile</h1>

<%= bootstrap_form_for @user do |f| %>
	<%= f.text_field :username %><br />
	<%= f.text_area :bio %><br />

<div class="file-field">
  <%= f.label :avatar, "Profile Picture" %>
  <%= f.file_field :avatar, hide_label: true %>
</div>


	<%= f.submit %>
<% end %>

</li>
 </div>