<% if signed_in? %>
  <%= current_user.email %>
  <%= button_to "Sign out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", login_path %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>



<%= link_to 'Back', root_path %> 

<h1>HI</h1>