<!DOCTYPE html>
<html>
  <head>
    <title>Jarousell</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load the Client component. -->
   <script src="https://js.braintreegateway.com/web/3.3.0/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
   <script src="https://js.braintreegateway.com/web/3.3.0/js/hosted-fields.min.js"></script>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- put propeller here i guess -->
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
     <div class="container">
    <div class="container">
       <%= flash_messages %>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
